body{
    font-family: 'Raleway', sans-serif;
}

h1{
    color:indianred;
}

h2{
    color:rgb(100,100,100);
}

a{
    border:solid 1px black;
    border-radius:5px;
    padding:3px;
    background-color:firebrick;
    color:white;
    float:left;
    clear:both;
    margin-top:10px;
    
}

.main{
    width:450px;
    margin: auto;
}